<img class="page-header-image" src="assets/images/Whoosebaby2012cvalda.jpg" alt="Whoose Baby 2012, autor: Cvalda">
<div id="image-heading-div">
  <div id="image-heading-1">events</div>
  <!--<div id="image-heading-2">ultimate frisbee team</div>-->
</div>

<section class="main-section max-width">
  <article id="event-article">
    <h1 class="article-heading">upcoming events</h1>
    <!--co,kdy,kde,odkaz-->
    <table id="event-table" *ngIf="showEvents()">
      <thead>
      <tr>
        <th>when</th>
        <th>what</th>
        <th>where</th>
        <th>location</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.startTime | date:'dd.MM.yyyy, '}}<b>{{event.startTime | date:'HH:mm'}}</b></td>
        <td>{{event.caption}}</td>
        <td>{{event.place}}</td>
        <td><a (click)="goToUrl(event.link)">link</a></td>
      </tr>
      </tbody>
    </table>
  </article>
</section>
