<!--The content below is only a placeholder and can be replaced.-->

<header>
  <!--menu-->
  <div id="menu-container">
    <nav>
      <ul>
        <li><a routerLink="" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="event-list" routerLinkActive="active">Events</a></li>
        <li><a routerLink="player-list" routerLinkActive="active">Team</a></li>
        <li><a routerLink="result-list" routerLinkActive="active">Results</a></li>
        <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="media" routerLinkActive="active">Media</a></li>
        <!--<li style="visibility: hidden">-->
        <!--<a routerLink="login" routerLinkActive="active" *ngIf="!(isLoggedIn$ | async)">Sign In</a>-->
        <!--<a routerLink="login" routerLinkActive="active" *ngIf="(isLoggedIn$ | async)">Sign Out</a>-->
        <!--</li>-->
      </ul>
    </nav>
  </div>
</header>

