<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" role="navigation">
    <!--this is a place for us to add side-nav code-->
    <button mat-button (click)="sidenav.toggle()" id="sidenav-close-button">
      <mat-icon>close</mat-icon>
    </button> <!--[matMenuTriggerFor]="menu"-->
    <div id="sidenav-menu-div" (click)="sidenav.toggle()">
      <nav>
        <ul>
          <li><a routerLink="" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
          <li><a routerLink="event-list" routerLinkActive="active">Events</a></li>
          <li><a routerLink="player-list" routerLinkActive="active">Team</a></li>
          <li><a routerLink="result-list" routerLinkActive="active">Results</a></li>
          <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
          <li><a routerLink="media" routerLinkActive="active">Media</a></li>
          <!--<li style="visibility: hidden">-->
          <!--<a routerLink="login" routerLinkActive="active" *ngIf="!(isLoggedIn$ | async)">Sign In</a>-->
          <!--<a routerLink="login" routerLinkActive="active" *ngIf="(isLoggedIn$ | async)">Sign Out</a>-->
          <!--</li>-->
        </ul>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->

    <header>
      <!--menu-->
      <mat-toolbar id="shrinkable-header" color="primary" role="heading" class="max-width">
        <div id="header-logo-div">
          <!--<a routerLink="">-->
            <img id="pd-logo" alt="PD Logo" src="./assets/bwLogo.png">
          <!--</a>-->
        </div>
        <span id="header-spacer"></span>
        <button mat-button (click)="sidenav.toggle()" id="header-menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <div id="header-menu-div">
          <nav>
            <ul>
              <li><a routerLink="" routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
              <li><a routerLink="event-list" routerLinkActive="active">Events</a></li>
              <li><a routerLink="player-list" routerLinkActive="active">Team</a></li>
              <li><a routerLink="result-list" routerLinkActive="active">Results</a></li>
              <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
              <li><a routerLink="media" routerLinkActive="active">Media</a></li>
              <!--<li style="visibility: hidden">-->
              <!--<a routerLink="login" routerLinkActive="active" *ngIf="!(isLoggedIn$ | async)">Sign In</a>-->
              <!--<a routerLink="login" routerLinkActive="active" *ngIf="(isLoggedIn$ | async)">Sign Out</a>-->
              <!--</li>-->
            </ul>
          </nav>
        </div>
      </mat-toolbar>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <nav class="max-width">
        <button mat-button id="footer-mail"><mat-icon>mail_outline</mat-icon> mail</button>
        <button mat-button id="footer-fb"><mat-icon>thumb_up_alt</mat-icon> fb</button>
      </nav>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
