<div id="header-image-wrapper">
  <img class="page-header-image" src="assets/images/backgroung004.jpg" alt="Prague Devils Ultimate team photo">
  <!--<div id="image-heading-1">prague devils</div>-->
  <!--<div id="image-heading-2">ultimate frisbee team</div>-->


  <svg width="700" height="200">
    <style>
      .first{
        text-transform: uppercase;
        font-size: 5vw;
        font-weight: bold;
        font-family: "Beast Machine";

      }
      .second{
        text-transform: uppercase;
        font-size: 3vw;
        font-family: "Beast Machine";
      }
    </style>
      <text x="0" y="150" textLength="700" class="first">Prague Devils</text>
      <text x="0" y="200" textLength="700" class="second">ultimate frisbee team</text>
  </svg>


</div>

<section class="main-section">

</section>
